<nav>
    <div class="logo">
       <img class="" src="../../assets/edyou-r.png" width="160px">
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
    </label>
    <ul>
       <!-- <li><a class="active" href="#">Home</a></li> -->
       <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link"
         data-toggle="dropdown"> <span class="avatar avatar-online"><img
           src= "../../../assets/holder.png" style="width: 30px;"></span></a>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="arrow_box_right">
            <!-- <a class="dropdown-item" ><span
                    class="avatar avatar-online"><img
                    src="app-assets/avatar.png"  alt="avatar"><span
                        class="user-name text-bold-700 ml-1">{{nameSort}} <br> <span class="ml-4">{{LasteSort}}</span> </span></span></a> -->
    <!-- <a class="dropdown-item" ><span
                    class="user-name text-bold-700 ml-1"> <span  class="mr-2 con" style="display: flex; justify-content: flex-start"> vv</span></span></a> -->


            <div class="dropdown-divider con" ></div><a class="dropdown-item" href="#" style="color: black; cursor: pointer;" >
                     Logout</a>
        </div>
    </div>
</li>
    </ul>
 </nav>