<app-header></app-header>
<div class="backGround">
    <div class="col-md-12  scroll">


        <div class="container">
            <div class="row">
              <div class="col-md-6">
          
                <div class="fixedText">
                    <br><br>
        
                    <form class="forms-sample"  [formGroup]="form">
                        <div class="form-group">
                            <label >Please type script in the box below</label>
                            <textarea class="form-control" rows="9" id="textfield"  name="text" formControlName="text">
                                <!-- <div  *ngIf="text.invalid && (text.dirty || text.touched)"
                                class="label__error border__error">
                                <div *ngIf="text.errors?.['required']">
                                  Text is required
                                </div>
                              </div> -->
                            <!-- <textarea class="form-control" rows="4"  name="text" formControlName="text"> -->
        
                    </textarea>
                        </div>
                        </form>
                        <div >
                            <button  class="btn btn-success play" [disabled]="form.invalid" (click)="submit()">Play</button>
                        </div>
                        <br>
                        <br>
                </div>

              </div>
            
              <div class="col-md-6">
               
                <div class="fixed-mic yyy" id="tt">
                    <div class="speaking-lady yu imgTest" id="avatarID">
        
                        <div class="speakingsss showI" id="cross" (click)="closeCard()" *ngIf="hideBar">
        
                        </div>
                        <div  id="loader" style="display:flex; justify-content: center; margin-top: 100px;">
                            <img src="../../assets/Rolling.gif" style="width: 55px; height:55px ">
                          </div>
        
        
                             <!-- // hand stop avatar voice  -->
                <!-- <div class="bottomleft " id="stopIcon" (click)="stopSpeaking()">
                    <img src="../../assets/Group 8.png" class="cc_icon" title="Stop the avatar while speaking"
                        style="cursor:pointer; width: 40px;">
                </div> -->
        
        
                        <div class="uneeqAvatar" id="sm-video">
                            <!-- <video src="../../assets/mov_bbb.mp4" preload="auto" autoplay muted  style="width: 100%; height: 200px;" ></video> -->
                          </div>
                    </div>
        
                    <br>
                    <br>
                    <br>
                    <br><br><br>
                </div>

              </div>
            </div>
          </div>






</div>

</div>





