
<div class="backGround">
    <div class="col-md-12 ">
<div class="div" style="display: flex; justify-content: left;">
    <img class="ml-3" src="../../assets/ges.png" width="150px">
</div>
<br><br>

   <h3>&nbsp;&nbsp;&nbsp;  Create a AI video</h3>
   <div class="container">
    <div class="row" style="justify-content: space-evenly;">
      <div class="col-md-6">
        <div class="">
            <br><br>

            <form class="forms-sample"  [formGroup]="form">
                <div class="form-group">
                    <label for="exampleInputEmail3">Please type script in the box below</label>
                    <textarea class="form-control" rows="9"  name="text" formControlName="text">

            </textarea>
                </div>
                </form>
                <div >
                    <button  class="btn btn-success play" (click)="submit()">Play</button>
                </div>
                <br>
                <br>
        </div>
      </div>
   
      <div class="col-md-6">
        <div class="fixed-mic" id="tt">
        <div class="card imgTest" id="avatarID">

            <div class="speakingsss showI" id="cross" (click)="closeCard()" *ngIf="hideBar">

            </div>


            <div class="uneeqAvatar" id="sm-video">
                <!-- <video src="../../assets/images/girl1.webm" preload="auto" autoplay muted  style="width: 100%; height: 200px;" ></video> -->
              </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>





